MONGODB_URI=
GITHUB_OWNER=
GITHUB_REPO=
GITHUB_BRANCH=
GITHUB_PERSONAL_ACCESS_TOKEN=
TINA_PUBLIC_IS_LOCAL=true
MEDIA_CDN_URL=/api/tina/media-proxy
NEXT_PUBLIC_MEDIA_CDN_URL=/api/tina/media-proxy
NEXTAUTH_SECRET=
NEXT_PUBLIC_TINA_AUTH_PROVIDER=
AZURE_AD_CLIENT_ID=
AZURE_AD_CLIENT_SECRET=
AZURE_AD_TENANT_ID=
